.clientDContainer {

  background-color: #1783e0;
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
	padding: 10px;
 
  

}

/* Header */
.clientDHeader {
    display: flex
;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
}

.clientDIconButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.clientDIcon {
 width: auto;
    height: auto;
    cursor: pointer;
}

.clientDContent {
  text-align: center;
    
}

.clientDTitle {
font-size: clamp(1rem, 17vw, 4.0rem);
    font-weight: 500;
    color: white;
    margin: 10px;
}

.clientDDescription {
font-size: clamp(1rem, 6vw, 2rem);
    color: white;
    margin-top: 10px;
}

/* Worker Image */
.clientDImageContainer {
  margin: 6px 0;
  display:flex;
}

.clientDWorkerImage {
width: 231px;
  height: auto;
}

/* Buttons */
.clientDButtonsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
      align-items: center;
  gap: 1rem;
  margin-bottom:10px;
}

.clientDButton {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem;
  color: black;
  border-radius: 10px;
}

.clientDNewRequestButton  {
  background-color: #fdbe00 !important;
}

.clientDMyRequestsButton {
  background-color: #fdbe00 !important;
}

.clientDClosedRequestsButton {
  background-color: #fdbe00 !important;
}

.notificationIcon {
    position: relative;
    cursor: pointer;
    color: #555; /* Ensure the icon color is visible */
}

.notificationIcon svg {
    font-size: 35px; /* Set a larger font size for visibility */
}

.notificationIcon .MuiBadge-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 35px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
	margin:10px;
}


.notificationDropdown {
    position: absolute;
    top: 60px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
}