/* ExpertInterface.module.css */

.expertInterface_body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.expertInterface_container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.expertInterface_languageSwitch {
    position: absolute;
    top: 20px; /* Place it slightly above the title */
    right: 28%; /* Move it to be aligned slightly to the right */
    transform: translateX(50%); /* Adjust to shift it into place */
}

.expertInterface_languageSwitch img {
    width: 35px; /* Adjust size accordingly */
    height: 35px;
}

.expertInterface_mainTitle {
    font-size: 2.5rem;
    margin: 0;
}

.expertInterface_subTitle {
    font-size: 1.5rem;
    margin: 5px 0 20px;
}

.expertInterface_imageContainer {
    margin: 20px 0;
}

.expertInterface_workerImage {
    width: 150px;
    height: auto;
}

.expertInterface_messageText {
    font-size: 1.2rem;
    margin: 20px 0;
}

.expertInterface_settingsButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.expertInterface_settingsButton:hover {
    background-color: #0056b3;
}
