/* ExpertInterface.module.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
.expertInterface_body {
    background: black;
    color: #fff; /* White text color */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Ensure padding is included in total width/height */
}

/* Container */
.expertInterface_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
}

/* Language Switch */
.expertInterface_languageSwitch {
    position: absolute;
    top: 18px; /* Place it slightly above the title */
    right: 20px; /* Move it to be aligned slightly to the right */
}

.expertInterface_languageSwitch img {
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s;
}

.expertInterface_languageSwitch img:hover {
    transform: rotate(15deg);
    opacity: 0.8;
}


/* Main Title */
.expertInterface_mainTitle {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 10px 0;
}

/* Subtitle */
.expertInterface_subTitle {
  font-size: 2rem;
  font-weight: 500;
  margin: 5px 0 20px;
}

/* Image Container */
.expertInterface_imageContainer {
    margin: 20px 0;
    width: 100%;
}

/* Worker Image */
.expertInterface_workerImage {
    width: 100%;
    max-width: 250px;
    margin:auto;
}

/* Message Text */
.expertInterface_messageText {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center;
}

/* Settings Button */
.expertInterface_settingsButton {
  background-color: #fdbe00; /* Vibrant golden background */
  color: #000; /* Black text for contrast */
  font-size: 1.8rem;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  max-width: 300px;
  margin: 25px auto;
}

.expertInterface_settingsButton:hover {
  background-color: #e1b500; /* Slightly darker golden on hover */
  transform: scale(1.05);
}
